<div class="row">
    <h1>Educacion</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Estudio 1</h1> - <h3>(years)</h3>
            </li>
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ab vel, autem cupiditate tempore fugit asperiores fuga ipsa ut itaque, accusantium harum sapiente, earum explicabo quae mollitia ipsam molestiae quaerat ex?
            </p>
        </ul>
        <ul>
            <li>
                <h1>Estudio 2</h1> - <h3>(years)</h3>
            </li>
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ab vel, autem cupiditate tempore fugit asperiores fuga ipsa ut itaque, accusantium harum sapiente, earum explicabo quae mollitia ipsam molestiae quaerat ex?
            </p>
        </ul><ul>
            <li>
                <h1>Estudio 3</h1> - <h3>(years)</h3>
            </li>
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ab vel, autem cupiditate tempore fugit asperiores fuga ipsa ut itaque, accusantium harum sapiente, earum explicabo quae mollitia ipsam molestiae quaerat ex?
            </p>
        </ul>
    </div>

</div>

